.home {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero, .stats, .features {
    padding: 4rem 2rem;
    text-align: center;
}

.hero {
    background-color: #500000;
    color: white;

}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
}

.cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #fff;
    color: #500000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #f0f0f0;
}

.cta-button:hover {
    background-color: #f1f1f1;
}

.stats {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat-item {
    margin: 1rem;
}

.stat-item h2 {
    font-size: 2.5rem;
    color: #500000;
    margin-bottom: 0.5rem;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.feature {
    flex-basis: calc(33% - 2rem);
    margin: 1rem;
    padding: 1.5rem;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.feature:hover, .feature.active {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.feature h2 {
    color: #500000;
    margin-bottom: 1rem;
}

.features .cta-button {
    background-color: #500000;
    color: white;
    margin-top: 1rem;
}

.features .cta-button:hover {
    background-color: #3d0000;
}

.footer {
    background-color: #500000;
    color: white;
    padding: 2rem 0;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 1rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a, .footer-bottom a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover, .footer-bottom a:hover {
    color: #e0e0e0;
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .feature {
        flex-basis: 100%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}