.question-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}
.question-link-active {
    background-color: #500000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 2px solid #500000;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.question-link {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 2px solid #500000;
    border-radius: 4px;
    color: #500000;
    text-decoration: none;
    transition: all 0.3s ease;
}

.question-link:hover,
.question-link.active-link {
    background-color: #500000;
    color: #fff;
}
